/*RESET*/
@charse "UTf-8";
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Montserrat:400,600');
*, *:after, *:before{
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}
html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
img{
	width:100%;
	height: auto;
}
/*RESET*/
/*Fontes e Padroes*/
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.heebo{
	font-family: 'Heebo', sans-serif;
}
.semi-bold{
	font-weight: 600;
}
.bold{
	font-weight: 700;
}
.text-center{
	-moz-text-align-last: center;
    text-align-last: center;
}
.text-left{
	-moz-text-align-last: left;
    text-align-last: left;
}
.text-right{
	-moz-text-align-last: right;
	text-align: right;
}
.color-1{
	color: #FFFFFF;
}
.color-2{
	color: #F98100;
}
.color-3{
	color: #B5B5B5;
}
.color-4{
	color: #78BD19;
}
.color-5{
	color: #545454;
}
.color-6{
	color: #B2B0BF;
}
.font-size-1{
	font-size: 15px;
}
.font-size-2{
	font-size: 16px;
}
.font-size-3{
	font-size: 22px;
}
.font-size-4{
	font-size: 76px;
}
.font-size-5{
	font-size: 13px;
}
.DIB{
    display: inline-block;
}
.DBA{
	display: block;
	position: absolute;
}
.DF{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;	
}
.DIF{
	-webkit-display: inline-flex;
	    -ms-display: inline-flex;
	        display: inline-flex;	
}
.FW{
	-webkit-flex-flow: wrap;
	    -ms-flex-flow: wrap;
	        flex-flow: wrap;
}
.PA{
	position: absolute;
}
.PF{
	position: fixed;
}
.DN{
	display: none;
}
.DB{
	display: block;
}
.FL{
	float: left;
}
.FR{
	float: right;
}
.hide{
	visibility: hidden;
	display: none;
}
.hide-slide{
	visibility: hidden;
	display: none;
}
.hide-star{
	visibility: hidden;
	display: none;
}
/*Fontes e Padroes*/
.container-100{
	width:100%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-90{
	width:90%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-80{
	width:80%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-70{
	width:70%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-60{
	width:60%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-50{
	width:50%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-40{
	width:40%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-20{
	width:20%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-10{
	width:10%;
	margin:0 auto;
	position:relative;
	height:auto;
}
header {
    padding: 35px 80px 10%;
    max-height: 790px;
    min-height: 630px;
}
.parallax {
    background-image: url("../images/hero.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    justify-content: space-between;
    width: 25%;
}
.crown-icon {
    width: 7%;
    margin: 30px auto;
}
.title {
    padding: 40px 0px;
    box-sizing: content-box;
}
.title > h1 {
    margin: 20px 0px;
}
.datapicker {
    padding: 60px 0;
    top: -170px;
    background: #FFF;
    border-radius: 7px;
}
.date > * {
    width: 100%;
    display: block;
    margin: 10px 0px;
}
.date {
    margin: 40px auto;
}
#CheckIn , #CheckOut {
    border: none;
}
.button {
    padding: 10px 40px;
    background: #FFF;
}
.button-round {
    border-radius: 50px;
    border: 2px solid;
    cursor: pointer;
}
.datepicker-here {
    margin: 20px auto;
}
.social {
    justify-content: space-between;
    padding: 0 20px;
    margin: 30px auto;
    width: 10%;
    max-width: 190px;
    min-width: 170px;
}
li.icon-social {
    max-width: 34px;
}
div#slider-range {
    height: 0;
    margin: 0 auto;
    width: 290px;
    left: 0;
}
span.title-filters {
    margin-bottom: 40px;
    display: block;
}
.filter-range {
    padding-bottom: 30px;
    border-bottom: 2px solid #E3E3E3;
}
.filter {
    width: 85%;
}
#TitleDates {
    margin-bottom: 70px;
}
label[for=RangeFilter] {
    margin-bottom: 20px;
    display: block;
}

div#amount {
    margin-top: 20px;
}
.rating{
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.ratings_stars {
    background: url("../images/star-outline.svg") no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
    position: relative;
    display: inline-block;
}
.ratings_stars:hover:before,
.ratings_stars:hover ~ .ratings_stars:before {
   content: "";
   background: url("../images/star-filled.svg") no-repeat;
   position: absolute;
   width: 32px;
   top: 0;
   left: 0;
   height: 28px;
}
.stars{
    background: url("../images/star-filled.svg") no-repeat;
    height: 15px;
    padding:    2px;
    width: 15px;
    position: relative;
    display: inline-block;
}
.filter-star {
    margin-top: 30px;
}
.rating {
    margin-top: 10px;
    width: 160px;
}
.hotel-container {
    padding: 40px 30px;
}
.cont-img-hotel {
    border-radius: 5px;
    overflow: hidden;
}
.TotalPrice {
    flex-direction: column-reverse;
    border-left: 2px solid #d9d9d9;
    padding-bottom: 100px;
    width: 15%;
    margin: 0 auto;
}
.star-rank {
    margin-bottom: 20px;
}
.hotel-name {
    margin-bottom: 40px;
}
.hotel-desc {
    margin-bottom: 30px;
    display: block;
}
.price{
	font-size: 30px;
}